.metadata/
.settings/
Debug/
Release/
.cproject
.framework
.project
src/mem_map.map
*.lds
find-file-reg
*.#*
*.o
*.d
*.elf
*.objdump
*.map
*.exe
*.bak
*.swp
*.swo
*.map
*.hex
*.lss
*.eep
*.srec
*.dtp
*.prj
*.ewd
*.ewp
*.eww
*.s90


